@page "/add-item"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<PageTitle>Add Item</PageTitle>

<h3>Add New Inventory Item</h3>

<EditForm Model="@_newItem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="_newItem.Name" class="form-control" />
        <ValidationMessage For="@(() => _newItem.Name)" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="_newItem.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="location">Location:</label>
        <InputText id="location" @bind-Value="_newItem.Location" class="form-control" />
    </div>

    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <InputNumber id="quantity" @bind-Value="_newItem.Quantity" class="form-control" />
    </div>

    <div class="form-group">
        <label for="value">Value:</label>
        <InputNumber id="value" @bind-Value="_newItem.Value" class="form-control" />
    </div>

    <div class="form-group">
        <label for="imageUrl">Image URL:</label>
        <InputText id="imageUrl" @bind-Value="_newItem.ImageUrl" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Item</button>

</EditForm>
